<section>
    <h2>Crie sua própria sala</h2>
    <form action="/create-room" method="POST"><!-- method esconde a senha -->
        <label for="codigoSala" class="sr-only">Insira uma senha</label>
        <input type="password" id="codigoSala" name="password" placeholder="Insira uma senha">
        <button type="submit" class="button">
            <img src="imagesProject/buttonCriarSala2.svg" alt="Criar sala">
            Criar sala
        </button>
    </form>
</section>    
